<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Meus Livros</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="https://livrados.vercel.app">
                    <img src="images/logo.png" style="max-height: 60px;" class="d-inline-block align-text-top"/>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse justify-content-end" id="navbarsExample07">
                    <div class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="https://livrados.vercel.app/view/explorar/">Explorar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="view/sobre/index.html">Contato</a>
                        </li>
                        <li id="userOrEnter" class="nav-item dropdown" style="text-transform: capitalize;"></li>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            
            <div class="row">
                <div class="col-12 mt-3">
                    <h3 class="text-center">Meus Livros</h3>
                </div>
            </div>
            <div class="row" id="listaLivros">
                <!-- AQUI VAI RENDERIZAR OS LIVROS. DEIXA VAZIO MESMO -->
            </div>
        </div>
  
    <!-- Modal Livros-->
    <div class="modal fade" id="modalLivro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Título</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>ISBN:</strong></li>
                        <li class="list-group-item"><strong>Título:</strong></li>
                        <li class="list-group-item"><strong>Autor:</strong></li>
                        <li class="list-group-item"><strong>Edição:</strong></li>
                        <li class="list-group-item"><strong>Editora:</strong></li>
                        <li class="list-group-item"><strong>Categoria:</strong></li>
                        <li class="list-group-item">
                            <div class="input-group">
                                <select class="custom-select d-block w-100" required="">
                                    <option disabled selected>Status...</option>
                                    <option>Disponível</option>
                                    <option>Indisponível</option>
                                  </select>
                            </div>
                        </li>
                    </ul> 
                </div>
                <div class="modal-footer">
                    <div class="align-self-center">
                        <button type="button" class="btn btn-warning">Editar  
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </button>
                        <button type="button" class="btn btn-danger">Excluir  
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Dados -->
    <div class="modal fade" id="modalDados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Meus Dados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="line-height: 1"><strong>Nome Completo:</strong></li>
                        <li class="list-group-item" style="line-height: 1"><strong>Celular:</strong></li>
                        <li class="list-group-item" style="line-height: 1"><strong>E-mail:</strong></li>
                        <li class="list-group-item" style="line-height: 1"><strong>Cep:</strong></li>
                        <li class="list-group-item" style="line-height: 1"><strong>Endereço:</strong></li>
                        <li class="list-group-item" style="line-height: 1"><strong>Número:</strong></li>
                        <li class="list-group-item" style="line-height: 1"><strong>Complemento:</strong></li>
                        <li class="list-group-item" style="line-height: 1"><strong>Bairro:</strong></li>
                        <li class="list-group-item" style="line-height: 1"><strong>Cidade:</strong></li>
                        <li class="list-group-item" style="line-height: 1"><strong>Estado:</strong></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="align-self-center">
                        <button type="button" class="btn btn-warning">Editar&nbsp;&nbsp;  
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- Modal Sair -->
    <div class="modal fade" id="modalSair" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sair</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Tem certeza que deseja sair?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Continuar</button>
                    <button type="button" class="btn btn-danger">Sair</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const name = localStorage.user_name

        if(localStorage.token)
                document.querySelector('#userOrEnter').innerHTML = 
                    `<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ${name}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="https://livrados.vercel.app/view/cadastrar_livro/">Incluir Livro</a></li>
                        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalDados">Meus Dados</a></li>
                        <li><a class="dropdown-item" href="https://livrados.vercel.app/view/meus_livros/"">Meus Livros</a></li>
                        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalSair">Sair</a></li>
                    </ul>`;
            else 
                document.querySelector('#userOrEnter').innerHTML = '<a class="cta" href="https://livrados.vercel.app/view/login/">Entrar</a>'
    </script>
        
    <script>
            // let livros = []
            // fetch('/').then((res)=> {
            //     res.json()
            // }).then((res)=> {
            //     livros = res.data
            // })

            let livros =[
                {
                    id: 1,
                    titulo: '1984',
                    autor: 'Autor teste',
                    categoria: 'Categoria teste',
                    edicao: 'Edição teste',
                    editora: 'Editora xyz',
                    img: './img/crimecastigo.jpg'
                },
                {
                    id: 2,
                    titulo: 'Novelas nada exemplares',
                    autor: 'Autor teste 2',
                    categoria: 'Categoria teste 2',
                    edicao: 'Edição teste 2',
                    editora: 'Editora xyz 2',
                    img: './img/crimecastigo.jpg'
                },
                {
                    id: 3,
                    titulo: 'Crime e Castigo',
                    autor: 'Autor teste 3',
                    categoria: 'Categoria teste 3',
                    edicao: 'Edição teste 3',
                    editora: 'Editora xyz 3',
                    img: './img/crimecastigo.jpg'
                },
            ]
            
            livros.forEach(el => {
                document.querySelector('#listaLivros').innerHTML += `
                    <div class="col-sm-12 col-lg-4"><br/>
                        <div class="card" style="padding: 20px">
                            <h5 class="card-title text-center">${el.titulo}</h5>
                            <div class="row">
                                <div class="col-4 col-lg-12 text-center">
                                    <img class="card-img-left" src="${el.img}" style="width: 130px; height: 130px; padding: 2%;" alt="Card image cap">    
                                </div>
                                <div class="col-8 col-lg-12 text-center">
                                    <p class="dados_livros">AUTOR: ${el.autor}</p>
                                    <p class="dados_livros">CATEGORIA: ${el.categoria}</p>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalLivro">
                                            Detalhes&nbsp;&nbsp;
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-card-heading" viewBox="0 0 16 16">
                                                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                                <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>            
                    </div>`
            })

        </script>

        <script type="text/javascript" src="mobile.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>