<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Meus Livros</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="styles.css">
        <link rel="icon" href="../../img/logo.png">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="https://livrados.vercel.app">
                    <img src="img/logo.png" style="max-height: 60px;" class="d-inline-block align-text-top"/>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse justify-content-end" id="navbarsExample07">
                    <div class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="https://livrados.vercel.app/view/explorar/">Explorar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../contato/">Contato</a>
                        </li>
                        <li id="userOrEnter" class="nav-item dropdown" style="text-transform: capitalize;"></li>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            
            <div class="row">
                <div class="col-12 mt-3">
                    <h3 class="text-center">Meus Livros</h3>
                </div>
            </div>
            <div class="row" id="listaLivros">
                <!-- AQUI VAI RENDERIZAR OS LIVROS. DEIXA VAZIO MESMO -->
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>

        <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
              <!-- Section: Social media -->
              <div class="mb-3">
          
                <!-- Github -->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn m-0" href="#!" role="button">
                  <i class="bi bi-github" style="color: #f8a72d; font-size: 35px;"></i>
                </a>
                
                <img class="logoBMB" src="../../img/BMBLogo.png" style="float:right; width: 80px;">
                
              </div>
              <!-- Section: Social media -->
            </div>
            <!-- Grid container -->
          
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              <p class="text-white">© 2020 Copyright: BMB
            </div>
            <!-- Copyright -->
          </footer>

    <!-- Modal Dados -->
    <div class="modal fade" id="modalDados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Meus Dados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" id="dados-nome" style="line-height: 1; text-transform: capitalize;"><strong>Nome: </strong></li>
                        <li class="list-group-item" id="dados-celular" style="line-height: 1"><strong>Celular: </strong></li>
                        <li class="list-group-item" id="dados-email" style="line-height: 1"><strong>E-mail: </strong></li>
                        <li class="list-group-item" id="dados-cep" style="line-height: 1"><strong>CEP: </strong></li>
                        <li class="list-group-item" id="dados-numero" style="line-height: 1"><strong>Número: </strong></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="align-self-center"></div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- Modal Sair -->
    <div class="modal fade" id="modalSair" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sair</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Tem certeza que deseja sair?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Continuar</button>
              <button type="button" id="btnSair" class="btn btn-danger">Sair</button>
            </div>
          </div>
        </div>
      </div>


    <script>
        const name = localStorage.user_name

        if(localStorage.token)
                document.querySelector('#userOrEnter').innerHTML = 
                    `<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ${name}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="https://livrados.vercel.app/view/cadastrar_livro/">Incluir Livro</a></li>
                        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalDados">Meus Dados</a></li>
                        <li><a class="dropdown-item" href="https://livrados.vercel.app/view/meus_livros/"">Meus Livros</a></li>
                        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalSair">Sair</a></li>
                    </ul>`;
            else 
                document.querySelector('#userOrEnter').innerHTML = '<a class="cta" href="https://livrados.vercel.app/view/login/">Entrar</a>'
    </script>
        
    <script>

            window.onload = async function() {

                const requestDetails = {
                    method: 'POST',
                    body: JSON.stringify({
                        searchFor: localStorage.user_id
                    }),
                    headers: { 'Content-Type': 'application/json' },
                }

                try {
                    const fetching = await fetch('https://livrados-backend.herokuapp.com/searchBookByUser', requestDetails);
                    const fetchingJson = await fetching.json();

                    fetchingJson.books.forEach((el, index) => {

                        let livro = {
                            isbn: el.isbn,
                            titulo: el.title,
                            autor: el.author,
                            categoria: el.category,
                            edicao: el.edition,
                            editora: el.publisher,
                            img: './img/livro-generico.png'
                        }

                        document.querySelector('#listaLivros').innerHTML += `
                            <div class="col-sm-12 col-lg-4"><br/>
                                <div class="card" style="padding: 20px">
                                    <h5 class="card-title text-center">${livro.titulo}</h5>
                                    <div class="row">
                                        <div class="col-4 col-lg-12 text-center">
                                            <img class="card-img-left" src="${livro.img}" style="width: 130px; height: 130px; padding: 2%;" alt="Card image cap">    
                                        </div>
                                        <div class="col-8 col-lg-12 text-center">
                                            <p class="dados_livros">AUTOR: ${livro.autor}</p>
                                            <p class="dados_livros">CATEGORIA: ${livro.categoria}</p>
                                            <div class="d-flex justify-content-center">
                                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalLivro${index}">
                                                    Detalhes&nbsp;&nbsp;
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-card-heading" viewBox="0 0 16 16">
                                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                                        <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>            
                            </div>
                            
                            <!-- Modal Livros-->
                            <div class="modal fade" id="modalLivro${index}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">${livro.titulo}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item"><strong>ISBN: </strong>${livro.isbn}</li>
                                                <li class="list-group-item"><strong>Título: </strong>${livro.titulo}</li>
                                                <li class="list-group-item"><strong>Autor: </strong>${livro.autor}</li>
                                                <li class="list-group-item"><strong>Edição: </strong>${livro.edicao}</li>
                                                <li class="list-group-item"><strong>Editora: </strong>${livro.editora}</li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="align-self-center">
                                                <button type="button" class="btn btn-danger">
                                                    Excluir  
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>`
                    });


                } catch (err) {
                    console.log('Erro no fetch: ' + err)
                }
            }     

        </script>

        <script src="../../js/sair.js"></script>
        <script src="../../js/meusDados.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>