<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Contato</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="css/contato.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link href="css/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="https://livrados.vercel.app">
                    <img src="img/logo.png" style="max-height: 60px;" class="d-inline-block align-text-top"/>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse justify-content-end" id="navbarsExample07">
                    <div class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="https://livrados.vercel.app/view/explorar/">Explorar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="view/sobre/index.html">Contato</a>
                        </li>
                        <li id="userOrEnter" class="nav-item dropdown" style="text-transform: capitalize;"></li>
                    </div>
                </div>
            </div>
        </nav>

            <main>
                <div class="position-relative overflow-hidden p-3 p-md-5 text-left bg-light">
                    <div class="col-md-5 p-lg-5 mx-auto my-4">
                        <h1 class="display-4 fw-normal">Contate-nos</h1>
                        <p class="lead fw-normal">Entre em contato com a nossa equipe 
                            através do nosso email para dúvidas e sugestões.
                            Sua opinião é muito importante para nós!
                        </p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16" style="color: #f8a72d;">
                                <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                            </svg>
                        <span id="contato">contato.livrados@gmail.com</span>    
                        <!--<button onclick="copiar()">
                            <i class="far fa-copy"></i>
                        </button> -->
                    </div>
                </div>
            </main>    
        
        <footer class="bg-dark text-center text-white">
            <div class="container p-4 pb-0">
                <div class="mb-3">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn m-0" href="#!" role="button">
                        <i class="bi bi-github" style="color: #f8a72d; font-size: 35px;"></i>
                    </a>
                    <img class="logoBMB" src="img/BMBLogo.png" style="float:right; width: 80px;">
              </div>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                <p class="text-white">© 2020 Copyright: BMB
            </div>
        </footer> 

        <script>
            const name = localStorage.user_name

      if(localStorage.token)
                document.querySelector('#userOrEnter').innerHTML = 
                    `<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ${name}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="https://livrados.vercel.app/view/cadastrar_livro/">Incluir Livro</a></li>
                        <li><a class="dropdown-item" href="#">Meus Dados</a></li>
                        <li><a class="dropdown-item" href="https://livrados.vercel.app/view/meus_livros/"">Meus Livros</a></li>
                        <li><a class="dropdown-item" href="#">Sair</a></li>
                    </ul>`;
            else 
                document.querySelector('#userOrEnter').innerHTML = '<a class="cta" href="https://livrados.vercel.app/view/login/">Entrar</a>'
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        
    </body>
</html>